/*  How to center block elements using CSS1? */
/* 
    To horizontally center a block element (like <div>), use margin: auto;

    Setting the width of the element will prevent it from stretching out to the edges of its container.

    The element will then take up the specified width, and the remaining space will be split equally between the two margins:
*/
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}